body {
  /*background-color: dodgerblue;*/
  padding-top: 100px;
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: tomato;
}

/********************** Header *****************/

header{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

header h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  margin: 0 auto;
  color: tomato;
  font-size: 40px;
}

.game {
  background:tomato;
}

header h2 {
  font-family: 'Monofett', cursive;
  color: dodgerblue;
  padding: 0;
  margin: 5px;
  font-weight: 100;
  font-size: 40px;
}
.header-img {
  height: 350px;
}

/********************** Splash *****************/

.instructions{
  font-family: 'VT323', monospace;
  font-size: 30px;
  width: 60%;
  margin: 30px auto;
  color: dodgerblue;
}

.start-button {
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  border-radius: 20px;
  display: inline-block;
  color: white;
  background-color: tomato;
  border: none;
  margin-bottom: 20px;
}

/********************** Controls *****************/

.scoreCounter {
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-align: right;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

#score{
  font-size: 20px;
}

/********************** Game *****************/

main {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.dancer {
  max-height: 300px;
}

.game-footer {
  width: 100%;
  margin: 20px 0;
  background-color: white;
  position: relative;
  height: 50px;
  opacity: 0.9;
}

.game-footer img {
  left: -150px;
  position: absolute;
  height: 50px;
}

.arrow {
  height: 150px;
  border-radius: 90px;
  /*opacity: 0.2;*/
  position: relative;
}

.danceNow {
  background-color: yellow;
}
.dance{
  background-color: white;
  border: 5px solid grey;
  width: 80px;
  height: 40px;
  display: inline-block;
  border-radius: 90px;

}
.hit {
  background-color: lime;
}

.fail {
  background-color: tomato;
}

/********************** Footer *****************/

footer {
  text-align: center;
  margin: 20px auto 0;
}
