body {
  background-color: darkgrey;
  margin: 0;
}
header{
  background-color: lime;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0 20px;
}
header > h2 {
  font-family: 'Monofett', cursive;
  color: salmon;
  font-size: 65px;
  padding: 0;
  margin: 5px;
  font-weight: 100;
}
h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  color: darkgrey;
}
main {
  height: 400px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}
.scoreCounter{
  font-family: 'Press Start 2P', cursive;
  text-align: right;
  font-size: 20px;
}
#score{
  font-size: 35px;
}
footer {
  text-align: center;
  height: 50px;
  margin: 0 auto;
}
.game-footer{
  height: 200px;
  margin: 50px;
}
 #arrow {
   height: 100px;
   background-color: lime;
   border-radius: 90px;
   opacity: 0.5;
 }
