body {
  background-color: dodgerblue;
  margin: 0;
  text-align: center;
}
header{
  background-color: white;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 20px;
  max-height: 250px;
}
.trumpy{
  height: 500px;
  display: block;
  float: left;
}

header > h2 {
  font-family: 'Monofett', cursive;
  color: dodgerblue;
  font-size: 65px;
  padding: 0;
  margin: 5px;
  font-weight: 100;
}
h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 90px;
  text-align: center;
  margin: 0 auto;
  color: tomato;
}
main {
  height: 400px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

.start-button{
  margin: 100px auto;
  padding: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  border-radius: 20px;
  display: inline-block;
  color: white;
  background-color: tomato;

}
.instructions{
  font-family: 'VT323', monospace;
  font-size: 40px;
  width: 60%;
  margin: 30px auto;
  color: white;
  diplay: inline-block;
  }
#game-wrapper{
  text-align: center;
  display: none;
  /*background-image: url('../images/other/shiny-ball.gif');*/
  background-size: cover;
  background-position: top;
  background-color: white;
}
.scoreCounter{
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-align: right;
  font-size: 20px;
}
.dancer {
  height: 400px;
}
#score{
  font-size: 35px;
}
footer {
  text-align: center;
  height: 50px;
  padding: 20px;
  margin: 0 auto;
}

.game-footer{
  height: 200px;
  width: 100%;
  margin: 0px;
  background-color: rgba(255,255,255,0.5);
  position: relative;
}

.game-footer img {
  left: -150px;
  position: absolute;
  height: 100px;

}

 .arrow {
   height: 150px;
   border-radius: 90px;
   opacity: 0.2;
   position: relative;
 }

 .danceNow {
   background-color: red;
   
 }
